<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous"/>

  <!-- VUE -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- LUXON -->
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>

  <!-- PERSONAL -->
  <link rel="stylesheet" href="./style/style.css">
  <title>Boolzapp</title>
</head>
<body>
  <div id="app">

    <div class="container">
      <div class="contacts">
        <div class="contacts-header d-flex">
          <div class="d-flex-c">
            <img src="./img/avatar_io.jpg" alt="">
            <div>Sofia</div>
          </div>
          <div class="d-flex-c">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </div>
        <div class="notification d-flex">
          <div class="bell d-flex-c">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="activate-bell">
            <div>Ricevi notifiche di nuovi messaggi</div>
            <div>Attiva notifiche desktop</div>
          </div>
        </div>
        <div class="input">
          <input type="search" placeholder="Cerca o inizia una nuova chat">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="chats-container">
          <div class="chat-preview d-flex" 
          v-for="(contact, index) in contacts"
          @click="activateChat(index)"
          :class="counter === index ? 'active' : ''">
            <img :src="contact.avatar" :alt="contact.name">
            <div class="info">
              <div class="name">{{contact.name}}</div>
              <div class="last-message">Ultimo messaggio inviato</div>
            </div>
            <div class="time">12.00</div>
          </div>
        </div>
      </div>
      <div class="open-chat">
        <div class="open-chat-header d-flex">
          <div class="header-right d-flex">
            <div class="d-flex">
              <img :src="contacts[counter].avatar" alt="">
              <div class="info">
                <div>{{contacts[counter].name}}</div>
                <div class="last-access">Ultimo accesso:  </div>
              </div>
            </div>

            <div class="buttons d-flex">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>

          </div>
        </div>
        <div class="open-chat-view">
          <div 
          class="message"
          v-for = "msg in contacts[counter].messages" 
          :class = "msg.status === 'received' ? 'received' : 'sent'">{{msg.message}}
          <span class="date-message">{{msg.hour}}</span>
          </div>
        </div>
        <div class="open-chat-footer d-flex">
          <div class="emoticon">
            <i class="fa-regular fa-face-smile"></i>
          </div>
          <input 
          type="search"
          placeholder="Scrivi un messaggio"
          v-model="newMessage"
          @keyUp.enter="pushMessage(), response()">
          <div class="mic">
            <i class="fa-solid fa-microphone"></i>  
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="./script/script.js"></script>
</body>
</html>