* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(
    to top,
    #D7DBD6 0%,
    #D7DBD6 80%,
    #009688 80%,
    #009688 100%
  );
  overflow: hidden;  
}

.container {
  width: 80%;
  height: 100vh;
  min-height: 600px;
  margin: 5px auto;
  background-image: url(/img/mine.jpg);
  display: flex;
}

.debug {
  background-color: rgba(255, 50, 255, .5);
  border: 1px solid black;
}

.d-flex {
  display: flex;
}
.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTACTS (Lato sinistro) */

.contacts {
  width: 35%;
  height: 100%;
}

.contacts-header {
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: #EAEAEA;
  border-right: 1px solid #BCBDC9;
}

.contacts-header i {
  margin: 9px;
  color: #B1B1B1;
}

.notification {
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: #8EDAFC;
}

.bell {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.bell i {
  color: #8EDAFC;
}

.input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FAFAFA;
}

.input input {
  width: 95%;
  height: 30px;
  padding-left: 35px;
  border: none;
}

.input .fa-magnifying-glass {
  position: absolute;
  left: 20px;
}

.chats-container {
  height: calc(100% - 190px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-preview {
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: #FAFAFA;
  position: relative;
}

.chat-preview:hover {
  background-color: #E9EBEB;
}

.active {
  background-color: #E9EBEB;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
}

.name {
  font-weight: 800;
  padding-bottom: 5px;
}

.last-message {
  font-size: small;
  color: #BCBDC9;
}

.time {
  font-size: small;
  color: grey;
  position: absolute;
  right: 10px;
  top: 10px;
}


/* CHATS (Lato destro) */

.open-chat {
  width: 65%;
  height: 100%;
}

.open-chat-header {
  height: 70px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  justify-content: space-between;
  width: 100%;
  background-color: #EAEAEA;
  height: 100%;
}

.buttons {
  align-items: center;
}

.buttons i {
  margin: 10px;
  color: #B1B1B1;
}

.info {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.last-access {
  font-size: small;
}

.open-chat-footer {
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #F3EEEA;
}

.open-chat-footer input {
  height: 70%;
  width: 90%;
  padding-left: 10px;
  border: none;
}

.open-chat-footer i {
  margin: 10px;
  color: #72797B;
}

.open-chat-view {
  height: calc(100% - 140px);
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 60%;
  width: 30%;
  display: inline-block;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  margin: 10px;
  font-size: 1rem;
  position: relative;
}

.date-message {
  color: #BCBDC9;
  font-size: .5rem;
  position: absolute;
  right: 5px;
  bottom: 3px;
}

.received {
  background-color: white;
}

.sent {
  align-self: flex-end;
  background-color: #D5F9BA;
}

